<ul>
    <li>
        <%= cat.name %>
    </li>
    <li>
        <%= cat.color %>
    </li>
    <li>
        <%= cat.sex %>
    </li>
    <li>
        <%= cat.age %>
    </li>
    <% if cat.description %>
    <li>
        <%= cat.description %>
    </li>
    <% end %>
</ul>